<mat-card>
  <mat-card-header>
    <mat-card-title>Sign Up for MovieMobs!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Username *</mat-label>
        <input matInput [(ngModel)]="userData.Username" type="text" name="Username" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password *</mat-label>
        <input matInput [(ngModel)]="userData.Password" type="password" name="Password" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email *</mat-label>
        <input matInput [(ngModel)]="userData.Email" type="email" name="Email" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Birthday</mat-label>
        <input matInput [(ngModel)]="userData.Birthday" type="date" name="Birthday">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="cancelRegistration()" color="accent">Cancel</button>
    <button mat-raised-button (click)="registerUser()" color="primary">Sign Up</button>
  </mat-card-actions>
</mat-card>
