<mat-card>
  <mat-card-header>
    <mat-card-title>Login to MovieMobs</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Username *</mat-label>
        <input matInput [(ngModel)]="loginData.Username" type="text" name="Username" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password *</mat-label>
        <input matInput [(ngModel)]="loginData.Password" type="password" name="Password" required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="cancelLogin()" color="accent">Cancel</button>
    <button mat-raised-button (click)="loginUser()" color="primary">Login</button>
  </mat-card-actions>
</mat-card>
